@mixin buttonBackground {
  background: linear-gradient(49.65deg, #BD7533 2.17%, #FEB839 99.05%);
  border-radius: 5px;
  border: 0px solid transparent;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;

  &:hover{
    background: #148C53;
    color: #fff;
  }

  &:hover{
    background: #148C53;
    color: #fff;
  }
}

@mixin buttonBackgroundWithBorder {
  background: inherit;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;

  &:hover{
    background: #148C53;
    color: #fff;
  }

  &:hover{
    background: #148C53;
    color: #fff;
  }
}

@mixin news {
.lastNewsInfoElement{
    margin: 2em;
    background: #FFFFFF;
    border-radius: 10px;
    padding-bottom: .9em;
    &>img{
        border-radius: 10px 10px 0 0;
    }
    &>p:first-of-type{
        font-size: 24px;
        margin: 0 .8em;
    }
    &>p:last-of-type{
        margin-left: 1.2em;
        margin-bottom: .5em;
    }
    &>a{
        margin-left: 1.2em;
        background: var(--link-color-specific);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -moz-text-fill-color: transparent;
    }
    &>span{
        padding-left: 5.5em;
        color: #DEDEDE;
    }
}

}